canvas {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  image-rendering: pixelated;
  position:absolute;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position:relative;
}
html,
body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}


@media only screen and (max-width: 500px) {
  canvas {
    width: 300px;
    height: 300px;
    
  }
}